body {
  background-color: #e4ece4;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App-stories {
  /* background-color: red; */
  margin: 0px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
  padding: 40px 0px;
}

.App-story{
  cursor: pointer;
  flex-basis: 29%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px rgb(199, 201, 201);
}

.App-story-top{
  padding: 0px 0px 40px 0px;
}

.App-story-bottom{
  padding: 0px 0px 10px 0px;
  display: flex;
}

.App-story-image{
  width:100%;
  height: 80%;
  border-radius: 10px;
}

.App-story h1{
  text-align: left;
}

.App-story h1{
  text-align: left;
  font-size: 1.5em;
}
.App-story h2{
  text-align: left;
  font-size: 1em;
  color:rgb(167, 167, 167);
}

.App-story p {
  text-align: left;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}


/* Header */
header {
  background-color: #3a843a;
  padding:40px 120px;
  box-shadow: 0px 1px 20px;
  display: grid;
  grid-template-columns: 35% 65%
}
header h1 {
  color: rgb(255, 255, 255);
  margin:0px;
}
.header-left{
  text-align: left;
}
.header-right{
  text-align: right;
  cursor: pointer;
}

/* User Profile */
.App-user-profile{
  padding-top: 40px;
  padding: 40px 120px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 10% 80% 10%
}

.App-user-profile-img{
  width:65%;
}

.App-user-profile-middle button{
  font-size: 1em;
}
.App-user-profile-middle h2{
  font-size: 2em;
  margin: 2% 0px 0px 0px;
  text-align: left;
}
.App-user-profile-middle button{
  float: left;
}