body {
  background-color: #e4ece4;
  margin: 0;
  font-family: 'Poppins';
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* App story */
.App-stories {
  /* background-color: red; */
  margin: 0px 120px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px 40px;
  padding: 40px 0px;
  align-content: stretch;
}

.App-story{
  /* cursor: pointer; */
  flex-basis: 29%;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 5px rgb(199, 201, 201);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.App-story-top{

}

.App-story-bottom{
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: 33% 33% 33%;
  justify-items: center;
  align-items: center;
  margin-top: auto;
}

.deleteButton{
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
  cursor: pointer;
}

.App-story-bottom > .authorName{
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  justify-self: left;
  font-weight: 600;
}

.writtenDate{
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  justify-self: left;
}

.numberOfLikes{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  padding-left: 70%;
}

.numberOfLikes-image{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  cursor: pointer;
}

.App-story-image{
  width:100%;
  height: 80%;
  border-radius: 10px;
}

.App-story h1{
  text-align: left;
  font-size: 1.5em;
}

.App-story h1:nth-child(2){
  text-align:center;
}


.App-story h2{
  text-align: left;
  font-size: 1em;
  color:rgb(167, 167, 167);
}

.App-story-top > p {
  text-align: left;
  line-height: 1.5em;
  height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.App-story-img{
  margin-top: 30%;
  margin-left: 6%;
  width:35%;
}
.App-story-img-cta{
  margin-top: 5%;
  font-size: 1.1em;
  font-weight: 500;
}

/* Display story */
.Display-story{
  background: White;
  padding: 20px 0;
}
.Display-story-container{
  /* background: white; */
  padding: 20px 35%;
  display: flex;
  justify-content: center;
}

.Display-story-image{
  width: 90%;
}

.Display-story-paragraph{
  padding: 0 5%;
  text-align: left;
}

.Display-story-bottom{
  padding: 0px 5% 10px 5%;
  display: grid;
  grid-template-columns: 16% 16% 16% 16% 16% 16%;
  grid-template-rows: 33% 33% 33%;
  justify-items: center;
  align-items: center;
}

.Display-story-bottom > .authorName{
  grid-column: 1 / span 3;
  grid-row: 1 / span 2;
  justify-self: left;
  font-weight: 600;
}

.Display-story-top > h2 {
  padding: 0 5%;
  text-align: left;
}
.Display-story-top > h1 {
  padding: 0 5%;
  text-align: left;
}

.editButton{
  grid-column: 6 / span 1;
  grid-row: 2 / span 1;
  cursor: pointer;
}

/* .writtenDate{
  grid-column: 1 / span 3;
  grid-row: 3 / span 1;
  justify-self: left;
}

.numberOfLikes{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  padding-left: 70%;
}

.numberOfLikes-image{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  cursor: pointer;
} */


/* Header */
header {
  background-color: #3a843a;
  padding:40px 120px;
  box-shadow: 0px 1px 20px;
  display: grid;
  grid-template-columns: 35% 65%
}
header h1 {
  color: rgb(255, 255, 255);
  margin:0px;
}
.header-left{
  text-align: left;
}
.header-right{
  text-align: right;
  cursor: pointer;
}

/* User Profile */
.App-user-profile{
  padding-top: 40px;
  padding: 40px 120px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 50% 50%;
  justify-items: start;
}

.App-user-profile-img{
  width:65%;
}

.App-user-profile-middle button{
  font-size: 1em;
}
.App-user-profile-middle h2{
  font-size: 2em;
  margin: 2% 0px 0px 0px;
  text-align: left;
}
.App-user-profile-middle button{
  float: left;
}

.App-user-name{
  display: block;
  font-size: 2em;
  margin-top: 2%;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  float:left;
	padding: 0;
	background: none;
	/* border: none; */
	border-radius: 0;
	outline: none;
}

.App-user-editButton{

  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.App-user-profile-left{
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

/*Create A Story*/
.Create-a-story-title{
  grid-column: 1 / span 1;
  grid-row: 1 / 1;
  align-self: center;
  justify-self: start;
}
.Create-a-story-form{
  font-size: 16px;
  padding: 10px 20%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%; 
  grid-template-rows: 20% 20% 150px 20% 80px 20%;
}
.Create-a-story-text-area{
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  grid-column: 1 / span 4;
  grid-row: 2 / span 3;
  white-space: pre-wrap;
}

.Create-a-story-author{
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}
.Create-a-story-relationship{
  grid-column: 5 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}
.Create-a-story-label{
  float: left;
  font-weight:500;
  /* margin:5px; */
}

.Create-a-story-input{
  float: left;
  margin-top: 3%;
  padding: 2%;
}
.Create-a-story-childname{
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  align-self: center;
}
.Create-a-story-childNumber{
  grid-column: 5 / span 1;
  grid-row: 2 / span 1;
  align-self: center;
  justify-self: start;
  padding-left: 10px;
}

.Create-a-story-submit{
  grid-column: 4 / span 1;
  grid-row: 5 / span 1;
  align-self: center;
  background-color: #459375; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
}
.Create-a-story-submit:hover{
  background-color: #1ca573; /* Green */
}

/*header*/
.header-right{
  list-style-type: none;
  font-size: 1.3em;
  margin: 0;
  padding: 0;
}

.link{
  float: right;
  padding: 8px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #1ca573;
}

.active {
  background-color: #04AA6D;
}

.App-stories a {
  color: rgb(0, 0, 0);
  text-decoration: none; /* no underline */
}

.App-story-create-container{
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

